.align-form {
  width: 100%;
  padding: 50px 45px 0px 45px;
}

.img-rodape {
  // position: absolute;
  bottom: 13px;
  top: 100px;
  left: 0;
  right: 0;
}

.passwordIcon {
  font-size: 28px !important;
  position: absolute !important;
  top: 22px !important;
  margin: 0 auto !important;
  right: 0;
}

.item-interactive.ion-valid {
  --highlight-background: #9d00bd;
}

.container {
  padding-top: 10%;
}
