@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/OpenSans-Italic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('../assets/fonts/OpenSans-BoldItalic.ttf');
    font-display: swap;
}